<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>       
    <dict>       
        <key>name</key>
        <string>xxx</string>    
        <key>defaultImage</key>
        <string>goumai_1.png</string>
        <key>honors</key>
        <string>fadsgdsag
            fdsagdsag
            gdgadsagds
        </string>
        <key>profile</key>
        <string>fdagdsagdsagdsafdsaewqgfsfw,
            wertwqetretertrqeterqewqterwqterwqtewr,
            tretqwetrewqtewrqtqwetewqr
            terqtterwqtqwertewqr
            treqtqretrqewtreqwtewqrt
            treqtrqewterwqtewrqtewrq
            treqwtrweqtrewqtewrqtewq
            treqtrewqtewqtewrewqtewterw
            treterywerytrewtre
        </string>
        <key>thumbnails</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
        <key>images</key>
        <array>                  
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>xxx</string>
        <key>defaultImage</key>
        <string>goumai_1.png</string>
        <key>honors</key>
        <string>fadsgdsag
            fdsagdsag
            gdgadsagds
        </string>
        <key>profile</key>
        <string>fdagdsagdsagdsafdsaewqgfsfw,
            wertwqetretertrqeterqewqterwqterwqtewr,
            tretqwetrewqtewrqtqwetewqr
            terqtterwqtqwertewqr
            treqtqretrqewtreqwtewqrt
            treqtrqewterwqtewrqtewrq
            treqwtrweqtrewqtewrqtewq
            treqtrewqtewqtewrewqtewterw
            treterywerytrewtre
        </string>
        <key>thumbnails</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
        <key>images</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>xxx</string>
        <key>defaultImage</key>
        <string>goumai_1.png</string>
        <key>honors</key>
        <string>fadsgdsag
            fdsagdsag
            gdgadsagds
        </string>
        <key>profile</key>
        <string>fdagdsagdsagdsafdsaewqgfsfw,
            wertwqetretertrqeterqewqterwqterwqtewr,
            tretqwetrewqtewrqtqwetewqr
            terqtterwqtqwertewqr
            treqtqretrqewtreqwtewqrt
            treqtrqewterwqtewrqtewrq
            treqwtrweqtrewqtewrqtewq
            treqtrewqtewqtewrewqtewterw
            treterywerytrewtre
        </string>
        <key>thumbnails</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
        <key>images</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>xxx</string>
        <key>defaultImage</key>
        <string>goumai_1.png</string>
        <key>honors</key>
        <string>fadsgdsag
            fdsagdsag
            gdgadsagds
        </string>
        <key>profile</key>
        <string>fdagdsagdsagdsafdsaewqgfsfw,
            wertwqetretertrqeterqewqterwqterwqtewr,
            tretqwetrewqtewrqtqwetewqr
            terqtterwqtqwertewqr
            treqtqretrqewtreqwtewqrt
            treqtrqewterwqtewrqtewrq
            treqwtrweqtrewqtewrqtewq
            treqtrewqtewqtewrewqtewterw
            treterywerytrewtre
        </string>
        <key>thumbnails</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
        <key>images</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>xxx</string>
        <key>defaultImage</key>
        <string>goumai_1.png</string>
        <key>honors</key>
        <string>fadsgdsag
            fdsagdsag
            gdgadsagds
        </string>
        <key>profile</key>
        <string>fdagdsagdsagdsafdsaewqgfsfw,
            wertwqetretertrqeterqewqterwqterwqtewr,
            tretqwetrewqtewrqtqwetewqr
            terqtterwqtqwertewqr
            treqtqretrqewtreqwtewqrt
            treqtrqewterwqtewrqtewrq
            treqwtrweqtrewqtewrqtewq
            treqtrewqtewqtewrewqtewterw
            treterywerytrewtre
        </string>
        <key>thumbnails</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
        <key>images</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
    </dict>
    <dict>
        <key>name</key>
        <string>xxx</string>
        <key>defaultImage</key>
        <string>goumai_1.png</string>
        <key>honors</key>
        <string>fadsgdsag
            fdsagdsag
            gdgadsagds
        </string>
        <key>profile</key>
        <string>fdagdsagdsagdsafdsaewqgfsfw,
            wertwqetretertrqeterqewqterwqterwqtewr,
            tretqwetrewqtewrqtqwetewqr
            terqtterwqtqwertewqr
            treqtqretrqewtreqwtewqrt
            treqtrqewterwqtewrqtewrq
            treqwtrweqtrewqtewrqtewq
            treqtrewqtewqtewrewqtewterw
            treterywerytrewtre
        </string>
        <key>thumbnails</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
        <key>images</key>
        <array>
            <string>goumai_1.png</string>
            <string>goumai_1.png</string>
        </array>
    </dict>
</array>
</plist>
